@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --header-height: 5rem;
    --max-width-page: 1120px;
    --back-color: #0F669F;
    --degradado-back-color: linear-gradient(to bottom, #1e476d, #0F669F);
    --color-orange: #eb6433;
    --back-color-lighten: #1380C0;
    --white-color: #FFFFFF;
    --body-font: "Montserrat", sans-serif;
}

/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: 0.938rem;
    background-color: var(--white-color);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

html {
    scroll-behavior: smooth;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--------------------Barra de Navegación---------------------*/
.net {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 999;
}

/* Networks */
.networks {
    width: 100%;
    max-width: var(--max-width-page);
    margin: 0 auto;
    padding: 0.3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-top: 1px solid #e5e7eb;
}


.btn-brochure {
    padding: 0.38rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background: var(--degradado-back-color);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-brochure:hover {
    color: #eb6433;
}

/* Íconos */
.icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #0f669f;
    border: 1px solid #d1d5db;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.icon:hover {
    background-color: #0f669f;
    color: #fff;
}

/* Header */
.header {
    width: 100%;
    background: var(--degradado-back-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: 1000;
}

/* Nav */
.container-nav {
    max-width: var(--max-width-page);
    margin: 0 auto;
    padding-inline: 1.5rem;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo img {
    width: 180px;
    height: 40px;
    border-radius: 10px;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-burger,
.nav-close {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1.25rem;
    color: var(--white-color);
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    transition: opacity .20s ease, transform .35s cubic-bezier(.2, .8, .2, 1);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    will-change: transform, opacity;
}

.nav-close {
    opacity: 0;
}

.show-icon .nav-burger {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg);
}

.show-icon .nav-close {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(180deg);
}

/* Nav Menu */
.nav-menu {
    display: none;
}

.user {
    font-size: 1.2rem;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #D34614;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.nav-link {
    color: var(--white-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.nav-link:hover:not(.continer-call) {
    color: var(--color-orange);
}

.continer-call:hover {
    transform: scale(1.1);
}

.dropdown-arrow {
    font-size: 1.25rem;
    transition: transform 0.4s;
}

.dropdown-link {
    padding: 1rem 1.5rem;
    color: var(--white-color);
    background-color: var(--back-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
}

.dropdown-link:hover {
    color: #eb6433;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

/* Submenú abierto */
.dropdown-item.show-dropdown .dropdown-menu {
    max-height: 500px;
}

.dropdown-item.show-dropdown .dropdown-arrow {
    transform: rotate(180deg);
}

/* Responsive: Mobile */
@media screen and (max-width: 1118px) {
    .nav-menu {
        margin-top: 2.6rem;
        display: block;
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        background-color: var(--back-color);
        height: auto;
        overflow: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease, top 0.4s ease;
    }

    .nav-menu.show-menu {
        opacity: 1;
        pointer-events: initial;
        margin-top: 2.6rem;
    }

    .nav-list {
        padding-top: 0.7rem;
        padding-left: 0.8rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-link {
        padding: 1.25rem 1.5rem;
        justify-content: left;
    }

    .dropdown-menu {
        background-color: var(--back-color);
    }

    .dropdown-link {
        justify-content: left;
        margin-left: 2.2rem;
    }

    .continer-call:hover {
        transform: none;
    }
}

/* Responsive: Desktop */
@media screen and (min-width: 1118px) {
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .nav-list {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    .nav-link {
        padding: 0 0.5rem;
        height: var(--header-height);
        display: flex;
        align-items: center;
    }

    .dropdown-item {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        background-color: var(--back-color-light);
        border-radius: 4px;
        z-index: 2000;
    }

    .dropdown-item:hover .dropdown-menu {
        opacity: 1;
        pointer-events: auto;
    }
}

/*-------------------- Footer ---------------------*/
footer {
    margin-top: auto;
}

.container-footer {
    background: var(--degradado-back-color);
    padding-inline: 1.5rem;
}

footer .container-footer .group-1 {
    max-width: var(--max-width-page);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-block: 45px;
}


.group-1 .box figure img {
    max-width: 250px;
    border-radius: 10px;
}

.group-1 .box h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.group-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 15px;
}

.group-1 .box .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group-1 .box .links a {
    color: #efefef;
    font-size: 15px;
    transition: color 0.3s ease, transform 0.2s ease;
}

.group-1 .box .links a:hover:not(.call-footer) {
    color: var(--color-orange);
    font-weight: 600;
    transform: translateX(5px);
}

.call-footer {
    display: inline-block;
    width: fit-content;
    transition: transform 0.3s ease;
}

.call-footer:hover {
    transform: scale(1.05);
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    background-color: #D34614;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: bold;
}

footer .group-2 {
    background: #0c4d79;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.group-2 small {
    font-size: 14px;
}

/* Responsivo */
@media screen and (max-width: 800px) {
    footer .container-footer .group-1 {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 30px 0;
        text-align: center;
    }

    .group-1 .box figure {
        display: flex;
        justify-content: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .links a {
        display: block;
    }

}

@media screen and (min-width: 1118px) {
    .group-1 {
        padding: 1.5rem
    }
}

/*--------------------Contacto---------------------*/
main {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.container-main {
    max-width: var(--max-width-page);
    width: 100%;
    padding: 1.5rem;
}

/* Header */
.contact-header {
    text-align: center;
    margin-bottom: 30px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header h2 {
    color: #e74c3c;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.contact-header p {
    color: #333;
    margin: 0rem 0rem 2rem 0rem;
}

/* Layout */
.contact-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .contact-content {
        grid-template-columns: 1fr;
    }
}

/* Información */
.contact-info {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-item i {
    margin-right: 10px;
    color: #e74c3c;
    font-size: 1.2rem;
}

.map {
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

/* Formulario */
.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    margin-bottom: 10px;
    color: #333;
}

.contact-form p {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #e74c3c;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #c0392b;
}