@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Variables*/

:root {
    --header-height: 3.5rem;

    --back-color: #0F669F;
    --back-color-light: hsl(220, 24%, 12%);
    --back-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: #FFFFFF;

    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    --font-regular:400;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul{
   list-style: none;
}

a{
    text-decoration: none;
}

.contanier{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--back-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}
.nav{
    height: var(--header-heigth);
}

.nav-logo,
.nav-burger,
.nav-close{
    color: var(--white-color);
}

.nav-data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav-logo img{
    width: 100px;
    height: 40px;
}

.nav-toggle{
    position: relative;
    width: 32px;
    height: 32px;
}

.nav-burger,
.nav-close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s ;
}

.nav-close{
    opacity: 0;

}

/*Responsive*/
@media screen and (min-width:1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}